<!-- Progress indicator-->
<app-spinner *ngIf="loading"></app-spinner>

<app-navigation></app-navigation>
<div class="container-login">
    <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">

        <h2>Log in to your account</h2>
        <mat-form-field appearance="fill" class="input">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="test@example.com" formControlName="email" required>
            <mat-error *ngIf="loginForm.controls['email'].hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="loginForm.controls['email'].hasError('email')">Email is invalid</mat-error>
          </mat-form-field>


        <mat-form-field appearance="fill" class="input">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="toggleShowPassword()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          
        <button mat-button class="submit-button" type="submit">Login</button>
        <hr width="70%">
        <a routerLink="/register">Sign up for an account</a>
    </form>
</div>


