.project-container {
  width: 100%;
  padding: 30px;
  height: 100vh;

  .loading-indicator {
      margin-top: 65px;
  }

  .no-tasks {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      text-shadow: 1px 1px gray;
      width: 70%;
      text-align: center;
      border-radius: 5px;
      padding: 10px;
      background-color: #f2bb06;
      color: white;
    }
  }

  .header-component {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        @media screen and (max-width: 500px){
            font-size: 17px;
        }

        @media screen and (max-width: 770px) {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          button {
            margin-top: 20px;
          }
          padding: 10px;
        }
    }

    hr {
      width: 100%;
    }

    .participants {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;


      #leave-project {
        margin-left: 20px;
      }

      #project-name {
        font-weight: bold;
      }

      #project-manager {
        font-size: 20px;
      }

      .participants-container {
        display: flex;
      }

      @media  screen and (max-width: 770px) {
          flex-direction: column;

          #leave-project {
            margin-left: 0px;
          }
      }


    }

  }

  .tasks-container {
    box-shadow: 4px 5px 12px gray;
    max-height: 75vh;
    overflow-x: scroll;
  }
}

