<div class="project-container">
    <!-- Progress Bar -->
    <mat-progress-bar *ngIf="loading" mode="indeterminate" class="loading-indicator"></mat-progress-bar>

    <div *ngIf="!loading" class="header-component">
        <div class="participants">
            <h1>{{ projectData.name }} (Lead: {{ projectData.lead.fullName }} )</h1>
            <app-participant-icon *ngFor="let participant of projectData.participants" [participant]="participant"></app-participant-icon>
        </div>
    </div>
    <hr>
    <div class="tasks-container" *ngIf="projectData?.tasks.length && !loading">
        <div *ngFor="let task of projectData?.tasks">
            <app-task [task]="task"></app-task>
        </div>
    </div>

    <div class="no-tasks" *ngIf="!projectData?.tasks.length && !loading">
        <h2>There are no tasks for that project yet!</h2>
    </div>

</div>





