.system-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    .info {
        padding: 5px;
    }

    .introduction {
        border-top: solid 7px dodgerblue;
        width: 100%;
        height: 50vh;
        box-shadow: 2px 1px 5px gray;
    }
}