
.container-create-issue {
    height: 80vh;
    width: 45vw;
    cursor: default;


    .create-issue-actions {
        padding: 10px 0px 10px 0px;
    
        button[type=submit] {
            margin-right: 20px;
        }
    }

    @media screen and (max-width: 750px) {
        width: 70vw;
    }

    mat-icon {
        background: tomato;
    }

    mat-form-field {
        width: 70%;
    }
    .textarea {
        height: 20vh;
        width: 100%;
    }

    .priority {
        margin-top: 20px;
    }
    
}
