<div class="profile-container">
  <span id="spinner" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </span>


  <div class="profile" *ngIf="!loading">
    <app-profilepic></app-profilepic>
    <h2>Profile</h2>
    <div class="inner profile-section">
      <app-inner-section [header]="'Username'" [sectionValue]="user?.username"></app-inner-section>
      <app-inner-section [header]="'Account Name'" [sectionValue]="user?.fullName"></app-inner-section>
    </div>
  </div>

  <div class="contacts" *ngIf="!loading">
    <h2>Places you work</h2>
    <div class="inner" *ngFor="let workPlace of workPlaces">
        <app-inner-section [header]="'Project Name'" [sectionValue]="workPlace.name"></app-inner-section>
    </div>
  </div>
</div>
