<div class="profile-container">
  <div class="profile">
    <h2>Profile</h2>
    <div class="inner">
      <app-inner-section
        [header]="'Email Address'"
        [sectionValue]="'tanyo.nikolov00@gmail.com'"
      ></app-inner-section>
    </div>
  </div>

  <div class="about">
    <h2>About you</h2>
    <div class="inner">
      <app-inner-section
        [header]="'Email Address'"
        [sectionValue]="'tanyo.nikolov00@gmail.com'"
      ></app-inner-section>
    </div>
  </div>

  <div class="contacts">
    <h2>Contacts</h2>
    <div class="inner">
      <app-inner-section
        [header]="'Email Address'"
        [sectionValue]="'tanyo.nikolov00@gmail.com'"
      ></app-inner-section>
    </div>
  </div>
</div>
