.container-image {
  img,
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    border: 2px solid yellow;
    height: 120px;
    border-radius: 100%;
    margin: 20px 0px 20px 0px;
    box-shadow: 1px 1px 5px gray;
    color: white;
    font-size: 30px;
    background-color: #263660;
  }

  display: flex;
  justify-content: center;
  align-items: center;
}
