.edit-dialog {
    padding: 20px;
    .action-btns {
        padding: 10px 10px 10px 0px;
        button:nth-child(2) {
            margin-left: 20px;
            box-shadow: 1px 2px 4px gray;
        }
    }
}