<div cdkDropListGroup class="drag-container">
    <div class="example-container">
      <h2>To do</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="todo"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" 
        *ngFor="let task of todo" cdkDrag (click)="showEditTask(task)" 
        [id]="task._id" 
        [ngStyle]="{'border' : task.assignedTo === loggedInUser.username ? '2px solid tomato': ''}">
          <!-- Tasks marked as To do -->
          <h4>{{task.summary}}</h4>
          <h4>
            Priority:
            <span
              [ngClass]="{
                highest: task.priority == 'Highest',
                high: task.priority == 'High',
                medium: task.priority == 'Medium',
                low: task.priority == 'Low',
                lowest: task.priority == 'Lowest'
              }"
            >
              {{ task.priority }}
            </span>
          </h4>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>In Progress</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="inProgress"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let task of inProgress" cdkDrag (click)="showEditTask(task)" [id]="task._id" [ngStyle]="{'border' : task.assignedTo === loggedInUser.username ? '2px solid tomato': ''}">

          <!-- Tasks marked as In Progress -->
          <h4>{{task.summary}}</h4>
          <h4>
            Priority:
            <span
              [ngClass]="{
                highest: task.priority == 'Highest',
                high: task.priority == 'High',
                medium: task.priority == 'Medium',
                low: task.priority == 'Low',
                lowest: task.priority == 'Lowest'
              }"
            >
              {{ task.priority }}
            </span>
          </h4>
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Done</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="done"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let task of done" cdkDrag (click)="showEditTask(task)" [id]="task._id" [ngStyle]="{'border' : task.assignedTo === loggedInUser.username ? '2px solid tomato': ''}">

          <!-- Tasks marked as DONE -->
          <h4>{{task.summary}}</h4>
          <h4>
            Priority:
            <span
              [ngClass]="{
                highest: task.priority == 'Highest',
                high: task.priority == 'High',
                medium: task.priority == 'Medium',
                low: task.priority == 'Low',
                lowest: task.priority == 'Lowest'
              }"
            >
              {{ task.priority }}
            </span>
          </h4>
        </div>
      </div>
    </div>
  </div>

 