.projects-container {
height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .message-no-projects {
      width: 90%;
      justify-content: flex-start;
  }


  h1 {
      width: 90%;
  }
  table {
      box-shadow: 2px 1px 5px gray;
      width: 90%;
      td {
        text-align: center;
      }

      th {
        text-align: center;
      }

      @media screen and (max-width: 490px) {
        td {
          font-size: 13px;
        }
      }

      @media screen and (max-width: 550px) {
        width: 99%;
      }



      .project-route {
        cursor: pointer;
        font-size: 19px;
        &:hover {
          text-decoration: underline;
          transition-duration: 0.3s;
        }

        @media screen and (max-width: 490px) {
          font-size: 15px;
        }
        @media screen and (max-width: 440px) {
          font-size: 13px;
        }

        @media screen and (max-width: 440px) {
          td {
            padding: 20px;
          }
        }
      }



  }
  .project {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


