.example-spacer {
    flex: 1 1 auto;
}


.sidenav {
    width: 30%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    @media  screen and (max-width: 1230px) {
        width: 45%;
    }


    @media  screen and (max-width: 830px) {
        width: 55%;
    }

    @media  screen and (max-width: 660px) {
        width: 100%;
    }


    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


        .close-button {
            position: fixed;
            top: 0;
            left: 0;
            margin: 30px 0px 0px 30px;
            &:hover {
                cursor: pointer;
            }
        }
        a, button {
            text-align: center;
            background: #0A1127;
            color: white;
            margin: 20px 0px 20px 0px;
            width: 300px;
            padding: 10px 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            border: none;
            text-decoration: none;
            &:hover {
                background: #283663;
                transition-duration: 0.2s;
            }



            mat-icon {
                margin-left: 10px;
            }
        }
    }

    h2, h3 {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        mat-icon {
            margin-right: 10px;
            color: #0A1127;
        }
        
    }


}




.fixed {
    position: fixed;
    box-shadow: 1px 1px 5px gray;
    .create-issue-btn {
        margin: 0px 20px 0px 20px;
        border: none;
        background: #0052CC;
        border-radius: 5px;
        color: white;
        font-size: 15px;
        padding: 4px 12px;
        
        @media screen and (max-width: 380px) {
            font-size: 10px;
        }
    }
}


.example-container {
    width: 100%;
    .container {
        height: 100vh;
        width: 200%;
    }
}