<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="sidenav fixed" mode="over">
    <app-profilepic></app-profilepic>
    <h2>{{ user?.fullName }}</h2>
    <h3><mat-icon>account_box</mat-icon>{{ user?.username }}</h3>
    <h3><mat-icon> email</mat-icon> {{ user?.email }}</h3>

    <div class="links">
      <a routerLink="/dashboard" (click)="drawer.close()"
        >Dashboard <mat-icon>dashboard</mat-icon></a
      >
      <a routerLink="/dashboard/projects" (click)="drawer.close()"
        >Projects <mat-icon>perm_media</mat-icon></a
      >
      <a routerLink="/dashboard/create-project" (click)="drawer.close()"
        >Create project <mat-icon>note_add</mat-icon></a
      >
      <a routerLink="/dashboard/profile" (click)="drawer.close()"
        >Profile <mat-icon>perm_identity</mat-icon></a
      >
      <button (click)="logoutUser()">
        Logout<mat-icon>exit_to_app</mat-icon>
      </button>
      <mat-icon class="close-button" (click)="drawer.close()">close</mat-icon>
    </div>
  </mat-drawer>

  <mat-toolbar class="fixed">
    <span>Proto Software</span>

    <mat-icon class="menu-button" [matMenuTriggerFor]="menu">add_box</mat-icon>
    <mat-menu #menu="matMenu">
     
      <app-issuebtn></app-issuebtn>
      
      <button
        mat-menu-item
        class="create-issue-btn"
        routerLink="/dashboard/projects"
      >
        Projects
      </button>
      <button mat-menu-item routerLink="/dashboard/profile">Profile</button>
    </mat-menu>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="drawer.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
