.example-spacer {
    flex: 1 1 auto;
}


.sidenav {
    width: 20%;
    padding: 30px;
}

.fixed {
    position: fixed;
    box-shadow: 1px 1px 4px gray;
}


.container {
    height: 100vh;
    margin-top: 100px;
}