<div class="task-info-container">
  <form [formGroup]="editTaskForm" (ngSubmit)="editTask()">
    <h2>Task: {{ task.summary }}</h2>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Task title</mat-label>
      <input type="text" matInput formControlName="summary" />
      <mat-error *ngIf="editTaskForm.controls['summary'].hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>


    <!-- Issue type -->
    <mat-form-field appearance="fill">
      <mat-label>Issue Type</mat-label>
      <mat-select formControlName="issueType" name="type">
        <mat-option *ngFor="let type of issueTypes" [value]="type.value">
          {{ type.value }}
        </mat-option>
      </mat-select>
      <!-- Display error message -->
      <mat-error *ngIf="editTaskForm.controls['issueType'].hasError('required')">
        Issue Type is <strong>required</strong>
      </mat-error>
    </mat-form-field>




    <!-- Priority -->

    <mat-form-field class="example-full-width priority" appearance="fill">
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority" name="priority">
        <mat-option *ngFor="let priority of priorities" [value]="priority.value">
          {{ priority.value }}
        </mat-option>
      </mat-select>
      <!-- Display error message -->
      <mat-error *ngIf="editTaskForm.controls['priority'].hasError('required')">
        Task priority is <strong>required</strong>
      </mat-error>
    </mat-form-field>


    <!-- Assigned to -->

    <mat-form-field appearance="fill">
      <mat-label>Assigned To</mat-label>
      <mat-select formControlName="assignedTo">
        <mat-option *ngFor="let participant of participants" [value]="participant.username">
          {{participant.username}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Description</mat-label>
      <!-- <input type="text" matInput formControlName="description" /> -->
      <textarea type="text" matInput formControlName="description"></textarea>
      <mat-error *ngIf="editTaskForm.controls['description'].hasError('required')">
        Task description is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Created at</mat-label>
      <input type="text" matInput formControlName="createdAt" readonly="true"/>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Updated at</mat-label>
      <input type="text" matInput formControlName="updatedAt" readonly="true" />

    </mat-form-field>

    <div class="container-buttons">
      <button mat-raised-button color="primary" class="btn" type="submit">
        Edit
      </button>

      <button type="button" mat-raised-button color="primary" (click)="closeDialog()" class="btn">
        Close
      </button>

      <button type="button" mat-raised-button color="warn" class="btn" (click)="deleteTaskHandler(task._id)">
        Delete task
      </button>
    </div>
  </form>
</div>