<app-navigation></app-navigation>
<main>
    <div class="container">
        <h1>Development tool for agile teams</h1>
        <div class="benefits">
            <span class="benefit"><mat-icon>done_all</mat-icon> <p>Better team management</p></span>
            <span class="benefit"><mat-icon>done_all</mat-icon> <p>Better tasks management</p></span>
            <span class="benefit"><mat-icon>done_all</mat-icon> <p>Better team and task management</p></span>
            <span class="benefit"><mat-icon>done_all</mat-icon> <p>Better team and task management</p></span>
        </div>
        <div class="get-started-card">
            <a routerLink="/login">Get started</a>
        </div>
    </div>
</main>